<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
.container {
    width: 1200px;
    height: 800px;
}
.button {
    border: none;
    font-size: 100px;
    padding: 15px 30px;
    border-radius: 5px;
    text-align: center;
}
</style>
<body>
<div class="flex-container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div class="jumbotron">
        <div class="btn-group">
            <button class = "btn btn-lg btn-secondary" type="button" onclick="/" style="width: 300pt; height: 300pt">랜덤 런치픽</button>
            <button class = "btn btn-lg btn-dark" type="button" onclick="/" style="width: 300pt; height: 300pt">나의 런치픽</button>
            <button class = "btn btn-lg btn-info" type="button" onclick="/" style="width: 300pt; height: 300pt">주위 런치픽</button>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>